.@{prefix}-input {
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  & > input {
    &:focus {
      color: var(--color-text-primary);
    }

    &::placeholder {
      color: var(--color-black-2);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.7;

    & > input {
      cursor: not-allowed;
    }
  }

  &--small {
    font-size: var(--font-size-small);
  }

  &--medium {
    font-size: var(--font-size-medium);
  }

  &--large {
    font-size: var(--font-size-large);
  }
}
