.@{prefix}-form-item {
  margin-bottom: 20px;

  &__header {
    &__label {
      color: var(--color-text-primary);
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.075px;
    }

    &__corner-hint {
      color: var(--color-text-secondary);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.07px;
    }
  }

  &__footer {
    &__item {
      color: var(--color-text-secondary);
      font-size: 14px;
      letter-spacing: 0.07px;

      &.error {
        color: var(--color-status-error);
        font-weight: 500;
      }
    }
  }

  &.required &__header__label::before {
    color: var(--color-status-error);
    content: '*';
  }
}
