@import '../../../src/index.less';

html.dark {
  .dark-theme-variables;
}

/* ---------------------------------- 样式微调 ---------------------------------- */
.vp-doc td,
.vp-doc th {
  line-height: 1.5rem;
}

.vitepress-demo-plugin-preview {
  box-sizing: border-box;
}

.props-table td:nth-child(2),
.props-table td:nth-child(2) * {
  color: #c41d7f;
}
